.conten{
    display: flex;
    flex-direction: row;
}
.container-productos{
    width: 70%;
    min-height: 90.5vh;
    padding: 0;
    margin: 0;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-2{
    width: 30%;
    padding: 0;
    margin: 10px;
    text-align: center;
}
.producto{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
.bi{
    color: purple;
    font-size: 12px;
}
.est{
    text-align: center;
}
.est1{
    width: 20%;
}
.est2{
    width: 30%;
}
.est3{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40%;
}
img{
    width: 100%;
    margin-top: 0;
    border-radius: 15px;
}
.text{
    width: 100%;
}
.text span h1{
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.text span h2{
    color: black;
    font-size: 12px;    
}
.text span h3{
    color: black;
    font-weight: bold;
    font-size: 10px;
    background-color: rgba(248, 248, 21, 0.809);
}
.btn1{
    width: 80%;
    background-color: #7BD5F5;
    border-radius: 12px;
    color: black;
    font-size: 12px;
    cursor: pointer;
}
.btn1:hover{
    width: 120px;
    background-color: #7ff77f;
    border-radius: 12px;
    color: black;
    transition: ease-in-out 100ms;
}
.container-2 h1{
    color: black;
    font-weight: bold;
    font: 16px;
    text-decoration: underline royalblue 2px;
    margin-top: 5%;
}
.btn{
    width: 160px;
    height: 40px;
    color: black;
    background-color: #7B7FF6;
    border-radius: 12px;
    border: 2px solid black;
}

.te {
    position: sticky;
    top: 40%;
}

span.tex.t1 {
    font-size: 30px;
}

span.tex.t2 {
    font-size: 23px;
}

.tex.t3 {
    margin-top: 20px;
}

.tex.t3 input {
    font-size: 20px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.cantidad-producto {
    width: 50%;
    text-align: center;
    padding-left: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

@media screen and (max-width: 800px) {

    .conten{
        display: flex;
        flex-direction: column;
        min-height: 92vh;
    }
    .container-productos{
        width: 90%;
        min-height: 50%;
        gap: 30px;
        margin-top: 30px;
    }
    .container-2{
        width: 90%;
        height: 40%;
        padding: 0;
        margin: 0;
        border: 1px solid black;
        border-radius: 5px;
        text-align: center;
        margin: 50px 0 50px 5%;
    }
    .est1{
        width: 30%;
    }
    .est2{
        width: 30%;
    }
    .est3{
        width: 20%;
        min-height: 60px;
    }
    img{
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
    .text{
        width: 100%;
    }
    .text span h1{
        color: black;
        font-weight: bold;
        font-size: 11px;
        margin-top: 4%;
    }
    .text span h2{
        color: black;
        font-size: 10px;  
        margin-top: 4%;  
    }
    .text span h3{
        color: black;
        font-weight: bold;
        font-size: 9px;
        background-color: rgba(248, 248, 21, 0.809);
        margin-top: 4%;
    }
    .btn1{
        width: 70px;
        background-color: #7BD5F5;
        border-radius: 12px;
        color: black;
    }
    .btn1:hover{
        width: 70px;
        background-color: #7ff77f;
        border-radius: 12px;
        color: black;
        font-size: 10px;
        margin-top: 40%;
        margin-left: 30%;
        transition: 4s;
    }
    .container-2 h1{
        color: black;
        font-weight: bold;
        text-decoration: underline black 2px;
    }
    .te{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        padding: 50px 0;
    }

    .btn2{
        height: 30px;
        width: 140px;
        color: black;
        background-color: #7B7FF6;
        border-radius: 0 0 0 0;
    }
}
