<div class="aviso" style="background-color: white; padding: 50px; box-shadow: 0 0 15px grey; border-radius: 10px 3px; text-align: center;">
    <div class="contenido-aviso">
        <h2 style="font-weight: bold; font-size: 50px; margin-bottom: 10px;">No hay registros disponibles aún</h2>
        <p style="font-size: 20px;">No hay registros disponibles para mostrar</p>
    </div>
</div>