<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">


    <link rel="stylesheet" href="/css/Carrito/carrito.css">
    <title>Compra</title>
</head>
<body>

    <%- include('./partials/header', {pages: pages, isIndex: false}) %>

<div class="conten">

<div class="container ">
    <div class="producto">
        <div class="est est1">
            <div class="img">
                <img src="https://www.sanborns.com.mx/imagenes-sanborns-ii/1200/2001595980720.jpg" alt="producto">
            </div>
        </div>
        <div class="est est2">
            <div class="text">
                <span><h1>Nombre del Producto Y Algo Mas</h1></span>
                <span><h1><i class="bi bi-tags-fill"> Precio Individual </i></h1></span>
                <span><h2>El Nombre Del Propietario</h2></span>
                <span><h3>Lo Mas Vendido</h3></span>
            </div>
        </div>
        <div class="est est3">
            <span><input type="button" value="ELIMINAR" class="btn1" id="btn1"></span>
        </div>
    </div>
    <div class="producto">
        <div class="est est1">
            <div class="img">
                <img src="https://www.sanborns.com.mx/imagenes-sanborns-ii/1200/2001595980720.jpg" alt="producto">
            </div>
        </div>
        <div class="est est2">
            <div class="text">
                <span><h1>Nombre del Producto Y Algo Mas</h1></span>
                <span><h1><i class="bi bi-tags-fill"> Precio Individual </i></h1></span>
                <span><h2>El Nombre Del Propietario</h2></span>
                <span><h3>Lo Mas Vendido</h3></span>
            </div>
        </div>
        <div class="est est3">
            <span><input type="button" value="ELIMINAR" class="btn1" id="btn1"></span>
        </div>
    </div>
    <div class="producto">
        <div class="est est1">
            <div class="img">
                <img src="https://www.sanborns.com.mx/imagenes-sanborns-ii/1200/2001595980720.jpg" alt="producto">
            </div>
        </div>
        <div class="est est2">
            <div class="text">
                <span><h1>Nombre del Producto Y Algo Mas</h1></span>
                <span><h1><i class="bi bi-tags-fill"> Precio Individual </i></h1></span>
                <span><h2>El Nombre Del Propietario</h2></span>
                <span><h3>Lo Mas Vendido</h3></span>
            </div>
        </div>
        <div class="est est3">
            <span><input type="button" value="ELIMINAR" class="btn1" id="btn1"></span>
        </div>
    </div>
    <div class="producto">
        <div class="est est1">
            <div class="img">
                <img src="https://www.sanborns.com.mx/imagenes-sanborns-ii/1200/2001595980720.jpg" alt="producto">
            </div>
        </div>
        <div class="est est2">
            <div class="text">
                <span><h1>Nombre del Producto Y Algo Mas</h1></span>
                <span><h1><i class="bi bi-tags-fill"> Precio Individual </i></h1></span>
                <span><h2>El Nombre Del Propietario</h2></span>
                <span><h3>Lo Mas Vendido</h3></span>
            </div>
        </div>
        <div class="est est3">
            <span><input type="button" value="ELIMINAR" class="btn1" id="btn1"></span>
        </div>
    </div>
    <div class="producto">
        <div class="est est1">
            <div class="img">
                <img src="https://www.sanborns.com.mx/imagenes-sanborns-ii/1200/2001595980720.jpg" alt="producto">
            </div>
        </div>
        <div class="est est2">
            <div class="text">
                <span><h1>Nombre del Producto Y Algo Mas</h1></span>
                <span><h1><i class="bi bi-tags-fill"> Precio Individual </i></h1></span>
                <span><h2>El Nombre Del Propietario</h2></span>
                <span><h3>Lo Mas Vendido</h3></span>
            </div>
        </div>
        <div class="est est3">
            <span><input type="button" value="ELIMINAR" class="btn1" id="btn1"></span>
        </div>
    </div>
</div>

<div class="container-2">
    <div class="te">
        <span class="tex    t1"><h1>Total:</h1></span>
        <span class="tex    t2"><h1>69.800 USD$</h1></span>
            <div class="tex     t3">
                <input type="button" value="Pagar" class="btn   btn2 " id="btn">
            </div>
        <div class="text-det    tex">
            <span>Compra Ahora Y Paga Mas Tarse En Pedidos De 25 USD o Mas</span>
        </div>
    </div>
</div>
</div>

</body>
</html>